.Instrument {
    &__sliders-container {
        display: flex;
        justify-content: center;
        pointer-events: none; 
    }

    &__slider {
        margin: 0 5px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
